@import "../../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../../node_modules/bootstrap/scss/bootstrap-grid";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import "../../node_modules/swiper/swiper.scss";
@import "fonts";

body {
   background-color: #222;
   color: yellow;
   min-height: 100vh;
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
}

.header {
   padding: 20px 0;
   width: 100%;

   &__logo {
      text-decoration: none;
      color: yellow;
      margin-right: 30px;
   }

   &__contacts {
      align-self: flex-end;
   }
}

.menu {
   &__list {
      margin: 0;
      padding: 0;
      list-style: none;
   }

   &__item {
      display: inline-block;
   }

   &__item:not(:last-child) {
      margin-right: 20px;
   }

   &__link {
      display: block;
      text-decoration: none;
      color: yellow;
      font-size: 16px;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: inherit;

      i {
         color: yellow;
         margin-right: 10px;
      }
   }

   &__link:hover,
   &__link.active,
   &__link:hover i {
      cursor: pointer;
      background-color: yellow;
      color: #222;
   }
}

.submenu {


   &__list {
      list-style: none;
      display: none;
   }

   &__list.active {
      display: block;
   }

   &__link {
      display: block;
      text-decoration: none;
      color: yellow;
      font-size: 16px;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: inherit;
   }

   &__link:hover {
      cursor: pointer;
      background-color: yellow;
      color: #222;
   }
}

.phone {
   &__link {
      margin-right: 20px;
   }
}

.swiper {
   max-height: 400px;
}

.swiper-slide {
   display: flex;
   align-items: center;

   img {
      width: 100%;
      height: auto;
   }
}

.sidebar {
   padding: 30px 0;

   .menu {
      &__item {
         display: block;
         margin-right: 0;
      }
   }
}

.tab-content {
   padding: 30px 0;
   display: none;
}

.tab-content.active {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.card {
   width: 300px;
   background-color: #fff;
   border-radius: 5px;
   color: #222;
   margin: 0 auto 20px auto;
   white-space: nowrap;

   &__image {
      height: 160px;
      overflow: hidden;
      display: flex;

      img {
         width: 100%;
         height: auto;
      }
   }

   &__body {
      padding: 0px 40px;
   }

   &__title {
      font-size: 24px;
      margin: 10px 0;
      font-weight: bold;
   }

   &__sub-title {
      font-size: 18px;
      margin: 10px 0;
   }

   &__price {
      font-size: 20px;
      font-weight: bold;
      margin: 10px 0;
      text-align: right;
   }

   &__button {
      border: none;
      background-color: yellow;
      padding: 10px 15px;
      margin: 20px 0;
      color: #222;
      font-weight: bold;
      letter-spacing: 3px;
      text-transform: uppercase;
   }
}

@media screen and(max-width: 992px) {
   .nav__menu {
      order: 1;
   }
}